
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:green" Trainee is added successfully</h1>


<h5><a asp-action="Display">Back to List</a></h5>

